<div>
    <div class="ig-feed">
        <div class="ig-feed__toolbar">
            <div class="ig-feed__follow">
                <a href="https://www.instagram.com/brettfrable/" class="" target="_blank">Follow</a>
            </div>
            <div class="js-close-feed ig-feed__close">
                <a href="#">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ig-feed__active-photo">
            <div class="ig-feed__single-photo">
            </div>
            <div class="js-close-active-photo ig-feed__close-active-photo">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="row row--full row-collapse js-ig-photos ig-feed__photos"></div>
    </div>  
</div>
