.button {
    @include font($f-open, 17px);
    @include transition(.3s);
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 35px auto 30px;
    max-width: 200px;
    padding: 14px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &--yellow {
        background: $yellow;
        border: 3px solid $yellow;
        color: $darker-purple;
        &:hover {
          background: $darker-purple;
          border: 3px solid $darker-purple;
          color: $white;
        }
    }
}
