<div class="icon-list">
  <div class="wrapper">
    <ul>
      <li>
        <a href="http://github.com/bfrable" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="http://codepen.io/bfrable" target="_blank">
          <i class="fa fa-codepen" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a id="js-feed" href="#">
          <i class="fa fa-instagram ig-trigger" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="http://www.last.fm/user/brettfrable" target="_blank">
          <i class="fa fa-lastfm" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="mailto:brett@brettfrable.com" target="_blank">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

