<div>
  <Navigation></Navigation>

  <div class="outer-wrapper">

    <HeaderBar></HeaderBar>

    <section class="main-content">
      <div class="wrapper">

        <h1>Front End<br>Developer</h1>

        <div class="blurb">
            <span class="blurb__icon">
              <i class="fa fa-terminal"></i>
            </span>
          <div class="blurb__text">
            <h2>{{ title }}</h2>
            <p>{{ content }}</p>
          </div>
        </div>

        <div class="resume">
          <div class="wrapper">
            <span class="button button--yellow js-resume">View my Resume</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
